have put my jwt secrets and mongo connection url in a config .js instead of a .env file and heres how the config.js looks 

JWT_SECRET = "" ,
mongo_url = "" 

module.export = {
  JWT_SECRET,
  mongo_url
}